<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.online.IActivityMapper">
    <select id="countActivity" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM ms_activity
    </select>

    <select id="checkRelease" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT is_release
        FROM ms_activity
        <where>activity_id = #{activityId}</where>
    </select>

    <select id="selectActivity" resultType="com.ruoyi.system.domain.po.BActivityPo">
        SELECT *
        FROM ms_activity
        WHERE del_flag = 0
    </select>

    <select id="queryByCondition" parameterType="com.ruoyi.system.domain.po.BActivityPo"
            resultType="com.ruoyi.system.domain.po.BActivityPo">
        SELECT *
        FROM ms_activity
        WHERE activity_title LIKE CONCAT('%', COALESCE(#{activityTitle}, ''), '%')
          AND is_release LIKE CONCAT('%', COALESCE(#{isRelease}, ''), '%')
          AND activity_introduce LIKE CONCAT('%', COALESCE(#{activityIntroduce}, ''), '%')
          AND is_link LIKE CONCAT('%', COALESCE(#{isLink}, ''), '%')
          AND del_flag = 0
    </select>

    <insert id="insertActivityByCondition" parameterType="com.ruoyi.system.domain.po.BActivityPo">
        INSERT INTO ms_activity(activity_id, activity_title, activity_introduce, activity_content, activity_sign,
                                cover_url, is_release, is_link, link, del_flag, create_by, create_time, update_by,
                                update_time, remark)
        VALUES (#{activityId}, #{activityTitle}, #{activityIntroduce}, #{activityContent}, #{activitySign}, #{coverUrl},
                #{isRelease}, #{isLink}, #{link}, #{delFlag}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime},
                #{remark})
    </insert>

    <update id="updateActivityByCondition" parameterType="com.ruoyi.system.domain.po.BActivityPo">
        UPDATE ms_activity
        <set>
            <if test="activityTitle != null and activityTitle != ''">activity_title = #{activityTitle},</if>
            <if test="activityIntroduce != null and activityIntroduce != ''">
                activity_introduce = #{activityIntroduce},
            </if>
            <if test="activityContent != null and activityContent != ''">activity_content = #{activityContent},</if>
            <if test="activitySign != null and activitySign != ''">activity_sign = #{activitySign},</if>
            <if test="coverUrl != null and coverUrl != ''">cover_url = #{coverUrl},</if>
            <if test="isRelease != null">is_release = #{isRelease},</if>
            <if test="isLink != null and isLink != ''">is_link = #{isLink},</if>
            <if test="link != null and link != ''">link = #{link},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime}</if>
        </set>
        <where>activity_id = #{activityId}</where>
    </update>

    <update id="patchActivityByCondition" parameterType="java.lang.Long">
        UPDATE ms_activity
        <set>del_flag = 2</set>
        <where>activity_id = #{activityId}</where>
    </update>

    <update id="unReleaseActivity" parameterType="java.lang.Long">
        UPDATE ms_activity
        <set>is_release = 0</set>
        <where>activity_id = #{activityId}</where>
    </update>

    <update id="releaseBanner" parameterType="java.lang.Long">
        UPDATE ms_activity
        <set>is_release = 1</set>
        <where>activity_id = #{activityId}</where>
    </update>
</mapper>
