<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.online.IBannerMapper">
    <select id="countBanner" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM ms_banner
    </select>

    <select id="checkRelease" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT is_release
        FROM ms_banner
        <where>banner_id = #{bannerId}</where>
    </select>

    <select id="selectBanner"
            resultType="com.ruoyi.system.domain.po.BBannerPo">
        SELECT *
        FROM ms_banner
        WHERE del_flag = 0
        ORDER BY banner_sort ASC
    </select>

    <select id="queryBannerByCondition"
            parameterType="com.ruoyi.system.domain.bo.banner.BannerSearchBo"
            resultType="com.ruoyi.system.domain.po.BBannerPo">
        SELECT *
        FROM ms_banner
        WHERE banner_title LIKE CONCAT('%', #{bannerTitle}, '%')
          AND is_release = #{isRelease}
          AND del_flag = 0
        ORDER BY banner_sort ASC
    </select>

    <insert id="insertBannerByCondition" parameterType="com.ruoyi.system.domain.po.BBannerPo">
        INSERT INTO ms_banner(banner_id, banner_title, banner_url, banner_sort, link, is_release, del_flag, create_by,
                              create_time, update_by, update_time, remark)
        VALUES (#{bannerId}, #{bannerTitle}, #{bannerUrl}, #{bannerSort}, #{link}, #{isRelease}, #{delFlag},
                #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{remark})
    </insert>

    <update id="updateBannerByCondition" parameterType="com.ruoyi.system.domain.po.BBannerPo">
        UPDATE ms_banner
        <set>
            <if test="bannerTitle != null and bannerTitle != ''">banner_title = #{bannerTitle},</if>
            <if test="bannerUrl != null and bannerUrl != ''">banner_url = #{bannerUrl},</if>
            <if test="link != null and link != ''">link = #{link},</if>
            <if test="bannerSort != null and bannerSort != ''">banner_sort = #{bannerSort},</if>
            <if test="isRelease != null and isRelease != ''">is_release = #{isRelease},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime}</if>
        </set>
        <where>banner_id = #{bannerId}</where>
    </update>

    <delete id="patchBannerByCondition" parameterType="java.lang.Long">
        UPDATE ms_banner
        <set>del_flag = 2</set>
        <where>banner_id = #{bannerId}</where>
    </delete>

    <update id="unReleaseBanner" parameterType="java.lang.Long">
        UPDATE ms_banner
        <set>is_release = 0</set>
        <where>banner_id = #{bannerId}</where>
    </update>

    <update id="releaseBanner" parameterType="java.lang.Long">
        UPDATE ms_banner
        <set>is_release = 1</set>
        <where>banner_id = #{bannerId}</where>
    </update>
</mapper>