<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.online.IClazzMapper">
    <select id="countClazz" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM ms_class
    </select>

    <select id="selectClazz" resultType="com.ruoyi.system.domain.view.ClazzInfoView">
        SELECT mc.class_cover,
               tn.nick_name AS teacher_name,
               hn.nick_name AS headmaster_name,
               mc.class_name,
               mc.class_type,
               mc.start_time,
               mc.finish_time,
               mc.finish,
               mc.remark
        FROM ms_class mc
                 LEFT JOIN sys_user tn ON mc.teacher_id = tn.user_id
                 LEFT JOIN sys_user hn ON mc.headmaster_id = hn.user_id
        WHERE mc.del_flag = 0
    </select>

    <select id="queryClazzListByCondition" parameterType="com.ruoyi.system.domain.vo.clazz.ClazzSearchVo"
            resultType="com.ruoyi.system.domain.view.ClazzInfoView">
        SELECT mc.class_cover AS clazz_cover,
        tn.nick_name AS teacher_name,
        hn.nick_name AS headmaster_name,
        mc.class_name AS clazz_name,
        mc.class_type AS clazz_type,
        mc.start_time,
        mc.finish_time,
        mc.finish,
        mc.remark
        FROM ms_class mc
        JOIN sys_user AS tn ON mc.teacher_id = tn.user_id
        JOIN sys_user AS hn ON mc.headmaster_id = hn.user_id
        <where>
            <if test="teacherName != null and teacherName != ''">
                AND mc.teacher_id IN
                (SELECT user_id FROM sys_user WHERE nick_name LIKE CONCAT('%', #{teacherName}, '%'))
            </if>
            <if test="headmasterName != null and headmasterName != ''">
                AND mc.headmaster_id IN
                (SELECT user_id FROM sys_user WHERE nick_name LIKE CONCAT('%', #{headmasterName}, '%'))
            </if>
            <if test="clazzName != null and clazzName != ''">
                AND class_name LIKE CONCAT('%', #{clazzName}, '%')
            </if>
            <if test="startTime != null and startTime != ''">AND start_time = #{startTime}</if>
            <if test="finishTime != null and finishTime != ''">AND finish_time = #{finishTime}</if>
            <if test="finish != null and finish != ''">AND finish = #{finish}</if>
        </where>
    </select>

    <insert id="insertClazzByCondition" parameterType="com.ruoyi.system.domain.vo.clazz.ClazzAddVo">
        INSERT INTO ms_class(class_id,
                             teacher_id,
                             headmaster_id,
                             class_name,
                             class_cover,
                             class_type,
                             start_time,
                             finish_time,
                             finish,
                             del_flag,
                             create_by,
                             create_time,
                             update_by,
                             update_time,
                             remark)
        VALUES (#{clazzId},
                #{teacherId},
                #{headmasterId},
                #{clazzName},
                #{clazzCover},
                #{clazzType},
                #{startTime},
                #{finishTime},
                #{finish},
                #{delFlag},
                #{createBy},
                #{createTime},
                #{updateBy},
                #{updateTime},
                #{remark})
    </insert>

    <select id="queryClazzByCondition" parameterType="java.lang.Long"
            resultType="com.ruoyi.system.domain.view.ClazzInfoView">
        SELECT mc.class_cover AS clazz_cover,
               tn.nick_name   AS teacher_name,
               hn.nick_name   AS headmaster_name,
               mc.class_name  AS clazz_name,
               mc.class_type  AS clazz_type,
               mc.start_time,
               mc.finish_time,
               mc.finish,
               mc.remark
        FROM ms_class mc
                 LEFT JOIN sys_user tn ON mc.teacher_id = tn.user_id
                 LEFT JOIN sys_user hn ON mc.headmaster_id = hn.user_id
        WHERE mc.class_id = #{clazzId}
    </select>

    <update id="updateClazzByCondition" parameterType="com.ruoyi.system.domain.entity.BClazzEntity">
        UPDATE ms_class
        <set>
            <if test="teacherId != null and teacherId != ''">teacher_id = #{teacherId},</if>
            <if test="headmasterId != null and headmasterId != ''">headmaster_id = #{headmasterId},</if>
            <if test="clazzName != null and clazzName != ''">class_name = #{clazzName},</if>
            <if test="clazzCover != null and clazzCover != ''">class_cover = #{clazzCover},</if>
            <if test="startTime != null and startTime != ''">start_time = #{startTime},</if>
            <if test="finishTime != null and finishTime != ''">finish_time = #{finishTime},</if>
            <if test="finish != null and finish != ''">finish = #{finish},</if>
            <if test="updateTime != null and updateTime != ''">update_time = #{updateTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null and remark != ''">remark = #{remark}</if>
        </set>
        <where>class_id = #{clazzId}</where>
    </update>

    <update id="deleteClazzByCondition" parameterType="java.lang.Long">
        UPDATE ms_class
        <set>del_flag = 2</set>
        <where>class_id = #{clazzId}</where>
    </update>

    <select id="selectChapterByCondition" parameterType="java.lang.Long"
            resultType="com.ruoyi.system.domain.view.ClazzDetailInfoView">
        SELECT chapter_id, chapter_name
        FROM ms_chapter
        <where>class_id = #{clazzId}</where>
    </select>

    <select id="selectCatalogueByCondition" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT catalogue_name
        FROM ms_catalogue
        <where>chapter_id = #{chapterId}</where>
    </select>
</mapper>