<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.online.IComplaintMapper">
    <select id="selectComplaint" resultType="com.ruoyi.system.domain.vo.online.ComplaintInfoView">
        SELECT complaint_content, complaint_type, remark
        FROM ms_complaint
        <where>del_flag = 0</where>
    </select>

    <update id="patchComplaintByCondition" parameterType="java.lang.Long">
        UPDATE ms_complaint
        <set>del_flag = 2</set>
        <where>complaint_id = #{complaintId}</where>
    </update>

    <update id="updateComplaint" parameterType="java.lang.Long">
        UPDATE ms_complaint
        <set>remark = #{remark}</set>
        <where>complaint_id = #{complaintId}</where>
    </update>
</mapper>